body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #333;
  color: #FFF;
}

a {
  color: #00B7FF;
}

.tab {
  border-collapse: collapse;
}

.tab td {
  width: 30px;
  height: 30px;
}

.tab-container {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: solid 1px #FFF;
}

.cell-touche {
  position: relative;
  animation: touche 0.5s linear;
}

.cell-dansleau {
  position: relative;
  animation: dansleau 0.5s linear;
}

.cell-touche:after, .cell-dansleau:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid #cc0000;
  border-radius: 20px;
}

.cell-dansleau:after {
  border-color: #FFF;
}

.cell-center {
  text-align: center;
  vertical-align: middle;
}

@keyframes touche {
  0% {
    background-color: transparent;
  }
  20% {
    background-color: #ff827b;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes dansleau {
  0% {
    background-color: transparent;
  }
  20% {
    background-color: #BBB;
  }
  100% {
    background-color: transparent;
  }
}
