$cellSize: 30px;
$cellSpace: 2px;

body {
  //padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  //background-color: #F1F1F1;
}

.play {
  background-color: #333;
  color: #FFF;
  .h3 {
    color: #FFF !important;
  }
}

a {
  color: #00B7FF;
}

.bat-container {
  display: flex;
  //margin: 40px;
  div {
    margin-left: 10px;
  }
}

.tab {
  border-collapse: collapse;
}

.tab td {
  width: $cellSize+1;
  height: $cellSize+1;
}

.tab-container {
  display: flex;
  flex-wrap: wrap;
}

.top-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 50px;
  width: 100%;
  margin-top: 10px;
  justify-content: space-between;
  .bateau {
    display: flex;
    align-items: center;
  }
  #endGame {
    display: flex;
    button {
      margin-right: 20px;
    }

  }
  .listPlayer {
    height: 50px;
    width: auto;
    margin: 0;
    td {
      vertical-align: middle;
      border-top: solid 1px #FFF;
      border-bottom: solid 1px #FFF;
      height: 50%;
      padding: 0 5px;
      white-space: nowrap;
    }
    .prefix {
      border-left: solid 1px #FFF;
      text-align: right;
    }
    #myName, #opponentName, #countdownName, #countdown {
      border-right: solid 1px #FFF;
    }
    #countdownName {
      border-bottom: none;
    }
    #countdown {
      border-top: none;
    }
  }
  #aQuiLeTour {

  }
}

.cell {
  border: solid 1px #FFF;
}

.pointer {
  cursor: pointer;
}
/*
.tab-att {
  .cell {
    cursor: pointer;
  }
}
*/
.cell-touche {
  position: relative;
  animation: touche 0.5s linear;
}

.cell-dansleau {
  position: relative;
  animation: dansleau 0.5s linear;
}

.cell-touche:after, .cell-dansleau:after {
  content: '';
    position: absolute;
  top: $cellSpace * 3 - 1;
  left: $cellSpace * 3 - 1;
  right: $cellSpace * 3;
  bottom: $cellSpace * 3;
  border: ($cellSpace * 3 - $cellSpace / 2) solid #cc0000;
  border-radius: $cellSize / 2;
}

.cell-dansleau:after {
  border-color: #FFF;
}

.cell-center {
  text-align: center;
  vertical-align: middle;
}

.bat {
  width: $cellSize - $cellSpace * 2;
  height: $cellSize - $cellSpace * 2;
  margin: $cellSpace;
  background-color: #22A7F0;
  border-radius: ($cellSize - $cellSpace) / 3;
  cursor: grab;
}

.error-bg {
  background: #D9534F; /* Old browsers */
  background: linear-gradient(#D9534F, #C9302C); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 50px;
    border-radius: 10px;
  color: white;
  width: 50%;
  margin: auto;
  line-height: 50px;
  text-align: center;
}

.success-bg {
  background: #5CB85C; /* Old browsers */
  background: linear-gradient(#5CB85C, #377836); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 50px;
    border-radius: 10px;
  color: white;
  width: 50%;
  margin: auto;
  line-height: 50px;
  text-align: center;
}

.info-bg {
  background-color: dodgerblue;
  height: 50px;
  border-radius: 10px;
  color: white;
  width: 50%;
  margin: auto;
  line-height: 50px;
  text-align: center;
}

.create-room {

}

.create-room label {
  display: block;
}

.list-room {
  min-width: 600px;
  max-width: 100%;
  margin-bottom: 40px;
  //background-color:#F2F2F2;
  //border-radius: 10px;
  //color:black;
}

.list-room h3 {
  text-align: center;
  line-height: 30px;
}

.list-room {
  td, th {
    line-height: 34px !important;
  }
}

.center {
  text-align: center;
}

.disable {
  display: none;
}

.enable {
  display: block;
}

$lobbyHeight: 400px;

#chat {
  float: right;
  display: inline-block;
  width: 50%;
  height: $lobbyHeight;
}

.leftBlock {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  width: 50%;
  height: $lobbyHeight;
  .startButton {
      animation: win 1s linear infinite;
  }
}

.accountLeftBlock{
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height : 400px;
}

.accountRightBlock{
  float: right;
  display: flex;
  width: 50%;
  height: 400px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px;
  div {
    margin-bottom: 20px;
  }
}

.avatar{
    border : 1px solid grey;
    border-radius: 5px;
    height:auto;
    overflow:hidden;
}

.big{
    max-width: 400px;
    max-height: 400px;
}

.little{
    max-width : 50px;
    max-height: 50px;
}

#playerList {
  //height: $lobbyHeight - 42px;
  li {
    margin-bottom: 5px;
    p {
      padding-left: 5px;
      margin: 0;
      display: inline-block;
      max-width: 200px;
    }
  }
}

#chatMessages {
  height: $lobbyHeight - 34px;
  overflow-x: hidden;
  overflow-y: auto;
  border: solid 1px #CCC;
  border-bottom: 0;
  -webkit-box-shadow: inset 0 0 5px #CCC;
     -moz-box-shadow: inset 0 0 5px #CCC;
          box-shadow: inset 0 0 5px #CCC;
  table {
    margin: 0;
  }
}

.play {
  #chatMessages {
    color: #333;
    background-color: #FFF;
    height: 260px;
  }
  #chat {
    margin-top: 30px;
    float: none;
    height: auto;
    width: 100%;
    max-width: 720px;
  }
}

#messageInput {
  border-top-left-radius: 0;
}

#sendMessage {
  border-top-right-radius: 0;
}

.loginLobby {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  div {
    align-self: center;
    margin: 0 auto;
    max-width: 250px;
  }
  span {
    margin: 0 8px;
  }
}
.endParty {
  div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px -250px;
    width: 500px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 2em;
    font-style: bold;
    border-radius: 5px;
    z-index: 100;
  }
  .win {
    -webkit-box-shadow:  0 0 20px #7ad77a;
       -moz-box-shadow:  0 0 20px #7ad77a;
            box-shadow:  0 0 20px #7ad77a;
    background: #5CB85C; /* Old browsers */
  }
  .loose {
    -webkit-box-shadow:  0 0 20px #f35652;
       -moz-box-shadow:  0 0 20px #f35652;
            box-shadow:  0 0 20px #f35652;
    background: #D9534F; /* Old browsers */
  }
    .animation {
        -webkit-animation-name: bounceIn;
                animation-name: bounceIn;
        -webkit-animation-duration: 1s;
                animation-duration: 1s;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
        -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
    }
    .win-anim {
        animation: win 1s linear infinite;
    }
    .loose-anim {
        animation: loose 1s linear infinite;
    }

}


@keyframes touche {
  0% {  background-color: transparent;  }
  20% {  background-color: #ff827b;  }
  100% {  background-color: transparent;  }
}

@keyframes dansleau {
  0% {  background-color: transparent;  }
  20% {  background-color: #BBB;  }
  100% {  background-color: transparent;  }
}

@keyframes win {
  0% {  background: #5CB85C;  }
  50% {  background: #377836;  }
  100% {  background: #5CB85C;  }
}

@keyframes loose {
  0% {  background: #D9534F;  }
  50% {  background: #a42f2c;  }
  100% {  background: #D9534F;  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


.switch-form {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 64px;
  height: 20px;
  padding: 3px;
  background-color: white;
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
  background-image:    -moz-linear-gradient(top, #eeeeee, white 25px);
  background-image:      -o-linear-gradient(top, #eeeeee, white 25px);
  background-image:         linear-gradient(to bottom, #eeeeee, white 25px);
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 12px;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s ease-out;
     -moz-transition: 0.15s ease-out;
       -o-transition: 0.15s ease-out;
          transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
     -moz-transition-property: opacity background;
       -o-transition-property: opacity background;
          transition-property: opacity background;
}

.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
     -moz-transition: inherit;
       -o-transition: inherit;
          transition: inherit;
}

.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #666;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.switch-input:checked ~ .switch-label {
  background: #47a8d8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
  background-image:    -moz-linear-gradient(top, white 40%, #f0f0f0);
  background-image:      -o-linear-gradient(top, white 40%, #f0f0f0);
  background-image:         linear-gradient(to bottom, white 40%, #f0f0f0);
  -webkit-transition: left 0.15s ease-out;
     -moz-transition: left 0.15s ease-out;
       -o-transition: left 0.15s ease-out;
          transition: left 0.15s ease-out;
}

.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: -webkit-linear-gradient(top, #eeeeee, white);
  background-image:    -moz-linear-gradient(top, #eeeeee, white);
  background-image:      -o-linear-gradient(top, #eeeeee, white);
  background-image:         linear-gradient(to bottom, #eeeeee, white);
}

.switch-input:checked ~ .switch-handle {
  left: 43px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
