$cellSize: 30px;
$cellSpace: 2px;

body {
    padding: 30px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #333;
    color: #FFF;
}

a {
    color: #00B7FF;
}

.bat-container {
    display: flex;
    margin: 40px;
    div {
        margin: 10px;
    }
}

.tab {
    border-collapse: collapse;
}

.tab td {
    width: $cellSize;
    height: $cellSize;
}

.tab-container {
    display: flex;
}

.cell {
    width: $cellSize;
    height: $cellSize;
    border: solid 1px #FFF;
}

.tab-att {
    .cell {
        cursor: pointer;
    }
}

.cell-touche {
    position: relative;
    animation: touche 0.5s linear;
}

.cell-dansleau {
    position: relative;
    animation: dansleau 0.5s linear;
}

.cell-touche:after, .cell-dansleau:after {
    content: '';
    position: absolute;
    top: $cellSpace * 3 - 1;
    left: $cellSpace * 3 - 1;
    right: $cellSpace * 3;
    bottom: $cellSpace * 3;
    border: ($cellSpace * 3 - $cellSpace / 2) solid #cc0000;
    border-radius: $cellSize / 2;
}

.cell-dansleau:after {
    border-color: #FFF;
}

.cell-center {
    text-align: center;
    vertical-align: middle;
}

.bat {
    width: $cellSize - $cellSpace * 2;
    height: $cellSize - $cellSpace * 2;
    margin: $cellSpace;
    background-color: #22A7F0;
    border-radius: ($cellSize - $cellSpace) / 4;
    cursor: grab;
}

.error-bg {
    background-color: crimson;
    height: 50px;
    border-radius: 10px;
    color : white;
    width : 50%;
    margin: auto;
    line-height: 50px;
    text-align: center;

}

.create-room{

}

.create-room label{
    display:block;
}

.list-room{
    background-color: #F9F9F9;
    border-radius: 10px;
    color:black;
}

.list-room h3{

    background-color:#F2F2F2;
    text-align: center;
    line-height: 30px;
}

@keyframes touche {
    0% {background-color: transparent;}
    20% {background-color: #ff827b;}
    100% {background-color: transparent;}
}

@keyframes dansleau {
    0% {background-color: transparent;}
    20% {background-color: #BBB;}
    100% {background-color: transparent;}
}
