extends layout

block content
    if message
        div.error-bg
            p= message

    h3 Connexion :
    form(action='/sign-in', method='POST')
        input(type='hidden', name='_csrf', value=csrf)
        div.form-group
            label.control-label(for='pseudo') Nom d'utilisateur
            input.form-control#pseudo(type='text', name='pseudo', maxlength=20, required, autofocus)
        div.form-group
            label.control-label(for='password') Mot de passe
            input.form-control#password(type='password', name='password', required)
        div.form-group
            button.btn.btn-primary.btn-lg(type='submit') Se connecter

block script
    script(src='/javascripts/connexion.js')