extends layout
//var room = require('../controllers/Rooms');

block content
    h1= title
    p Welcome to #{title}

    h2
        a(href="play") Commencer une partie

    h2
        a(href="create") Créer une nouvelle room

    - for (var k in room)
        h3
            a(href="join/?id="+k)= "Rejoindre la room " + k