extends layout

block content
    if message
        div.error-bg
            p #{message}

    h3 Inscription :
    form(action = "/user/create" method ="POST")
        div.form-group
            label.control-label(name ="pseudo") Nom d'utilisateur
            input.form-control(type = "text" name = "pseudo" id = "Uname" maxlength=20 required="required" autofocus="autofocus")
        div.form-group
            label.control-label(name ="email") Email
            input.form-control(type = "email" name = "email" id = "email" required="required" )
        div.form-group
            label.control-label(name ="password") Mot de passe
            input.form-control(type = "password" name = "password" id = "password" required="required" )
        div.form-group
            label.control-label(name ="confirmPass") Confirmation du mot de passe
            input.form-control(type = "password" name = "confirmPass" id = "confirmPass" required="required" )
        div.form-group
                button.btn.btn-primary.btn-lg(name = "submit") S'inscrire
block script
    script(src="/javascripts/inscription.js")
