doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        meta(charset='utf-8')
    body
<<<<<<< HEAD
        block content
=======
        block content

        script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
>>>>>>> origin/master
