extends layout

block content
    div
        div.leftBlock
            div#playerList
                h4 Personnes présentes dans le lobby
                ul
            button(onClick = "startGame()" class = "btn btn-success btn-lg btn-block" disabled)#startButton Lancer la partie
        div#chat
            div#chatMessages
                table.table.table-striped.table-bordered
            div.form-group: div.input-group
                input(class = "form-control" placeholder="Type your text here..." maxlength=200)#messageInput
                div.input-group-addon.btn.btn-default(onClick = "sendMessage()")#sendMessage
                    span(class="glyphicon glyphicon-send" aria-hidden="true")

block script
    script(type = "text/javascript").
        var sess = !{JSON.stringify(session)};
    script(src="/javascripts/lobbyClient.js")
