extends layout

block content
    div
        div.leftBlock
            div#playerList
                h4= tRoom.name
                h5 Personnes présentes dans le lobby :
                ul
            div.button
                if session.playerID == 'creator'
                    div.form-group
                        label Temps entre chaque tour <small>(entre 10 et 600 sec)</small>
                        input.form-control#timeTimer(type='number', value=60, step=1, min=10, max=600)
                    div.form-group
                        label Nombre de bateau <small>(entre 1 et 10)</small>
                        input.form-control#nbBat(type='number', value=5, step=1, min=1, max=10)
                    button.btn.btn-default.btn-lg.btn-block(onclick='promptLink()') Lien d'invitation
                    button.btn.btn-success.btn-lg.btn-block#startButton(onClick='startGame()', disabled) Lancer la partie
                else
                    div.form-group
                        label Temps entre chaque tour <small>(entre 10 et 600 sec)</small>
                        div.form-control#timeTimer
                    div.form-group
                        label Nombre de bateau <small>(entre 1 et 10)</small>
                        div.form-control#nbBat
        div#chat
            div#chatMessages
                table.table.table-striped.table-bordered
            div.form-group: div.input-group
                input.form-control#messageInput(placeholder='Type your text here...', maxlength=200)
                div.input-group-addon.btn.btn-default#sendMessage(onClick='sendMessage()')
                    span.glyphicon.glyphicon-send(aria-hidden='true')

block script
    script(type='text/javascript').
        var sess = !{JSON.stringify(session)};
        var token = '!{csrf}';
    script(src='/javascripts/lobbyClient.js')
    script(src='/javascripts/chatClient.js')