extends layout

<<<<<<< HEAD
block content
    h1(onclick="click")= title
=======
>>>>>>> origin/master

block content
    h1(onclick="testlog()")= title

    table(style="border-collapse: collapse; cursor: pointer;")
        - var lettre = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
        tr
            td
            - for (var x = 0; x < 10; x++)
                td!= "<strong>" + (lettre[x]) + "</strong>"
        - for (var y = 0; y < 10; y++)
            tr
                td!= "<strong>" + (y+1) + "</strong>"
                - for (var x = 0; x < 10; x++)
<<<<<<< HEAD
                    td(class=x+"-"+y style="border: 1px solid black; font-size: 15px")= x +" - "+ y
    script. 
        var click = function(){
            console.log("Test");
        }

=======
                    td(class="cell "+x+"-"+y onclick="clictab("+x+", "+y+")" style="border: 1px solid black; font-size: 15px")

    img(src="/images/tux.png" width="250px")

    script(src="/javascripts/test.js")
>>>>>>> origin/master
