extends layout

block content
    - var lettre = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

    h1(onclick="testLog()")= title

    p(class="compt") 0

    button(onclick="clicButValid()") Valider les positions

    div(class="tab-container")
        table(class="tab tab-att cell-center")
            tr
                td
                - for (var x = 1; x <= 10; x++)
                    td!= "<strong>" + (x) + "</strong>"
            - for (var y = 0; y < 10; y++)
                tr
                    td!= "<strong>" + (lettre[y]) + "</strong>"
                    - for (var x = 0; x < 10; x++)
                        td(class="cell cell-att "+x+"-"+y onclick="clicTabAtt("+x+", "+y+")" style="font-size: 15px")

        div(style="width: 50px")
        table(class="tab tab-def cell-center")
            tr
                td
                - for (var x = 1; x <= 10; x++)
                    td!= "<strong>" + (x) + "</strong>"
            - for (var y = 0; y < 10; y++)
                tr
                    td!= "<strong>" + (lettre[y]) + "</strong>"
                    - for (var x = 0; x < 10; x++)
                        td(id="id-"+x+"-"+y class="cell cell-def "+x+"-"+y ondrop="drop(event)" ondragover="allowDrop(event)")

    - for (var i=1; i<=5; i++)
        img(id="Bat"+i class="bat" src="/images/tux.png" width="25px" draggable="true" ondragstart="drag(event)" style="cursor: grab;")

block script
    script(src="/javascripts/playClient.js")
